.screenshotPane {
	width: 72vw;
	flex-grow: 1;
}

.MainContainer {
	max-width: 1200px;
	position: relative;
	margin: auto;
	height: 85%;
	display: flex;
	align-items: center;
	flex-direction: column;
	/* margin-top: 140px; */
}

.slideshowContainer {
	position: relative;
	width: 40vw;
	margin: auto;
	padding-top: 60px;
	border-radius: 20px;
}

.LoginPage {
	overflow: hidden;
	height: 100vh;
	justify-content: center;
	background-color: #00ccff;
	display: flex;
}

/* Hide the images by default */

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -60px;
	width: auto;
	padding: 16px;
	color: White;
	font-weight: bold;
	font-size: 60px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	z-index: 10;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	color: Black;
}

/* Caption text */
.text {
	margin-top: 50px;
	color: #f2f2f2;
	font-size: 30px;
	padding: 8px 12px;
	bottom: 8px;
	width: 100%;
	text-align: center;
	font-weight: 500;
	margin-bottom: 50px;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.mySlides {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.mySlides img {
	border-radius: 10px;
}

@media only screen and (max-width: 768px) {
	LoginPage {
		flex-direction: column;
	}

	.MainContainer {
		justify-content: center;
	}

	.slideshowContainer {
		width: 50%;
	}

	.screenshotPane {
		height: 92vh;
		width: 100%;
		flex-grow: 1;
	}

	.text {
		font-size: 30px;
	}

	.MainContainer {
		height: 100%;
		/* margin-top: 140px; */
	}

	.prev,
	.next {
		margin-top: 100vh;
	}
}

.LoginPane {
	width: 100%;
	margin: 0;
	background-color: white;
	height: 100vh;
	min-width: 200px;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 2vh;
}

.LogoBanner {
	overflow: hidden;
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: auto;
	padding-bottom: 5vh;
	height: 38vh;
}

.LogoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	height: 20vh;
}

.Logo {
	max-width: 100%;
	max-height: 100%;
}

.LogoName {
	margin-left: 1vw;
	margin-right: 1.5vw;
	align-self: center;
	color: black;
	font-size: 34px;
	font-family: "Architects Daughter", cursive;
}

.Itemlist {
	margin-left: 30px;
	display: flex;
	font-size: 25px;
	margin-top: 8vh;
}

.Underbar {
	position: absolute;
	margin-top: 40px;
	width: 60px;
	height: 1px;
	background: #05ABE8;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.active~.Underbar {
	/* a:nth-of-type(1):hover ~ .Underbar { */
	margin-left: 0px;
	width: 60px;
}

.activeMargin~.Underbar {
	/* a:nth-of-type(2):hover ~ .Underbar { */
	margin-left: 110px;
	width: 85px;
}

.LoginLink {
	color: #05ABE8;
	opacity: 0.3;
	padding: 0;
	cursor: default;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.LoginLink:hover,
.LoginLink:active,
.active,
.active:hover {
	opacity: 1;
	color: #05ABE8;
	font-weight: bolder;
	cursor: default;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.activeMargin,
.activeMargin:hover {
	opacity: 1;
	margin-left: 50px;
	color: #05ABE8;
	font-weight: bolder;
	cursor: default;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.SignLink {
	margin-left: 50px;
	opacity: 0.3;
	border: none;
	color: black;
	cursor: default;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.SignLink:hover {
	opacity: 1;
	color: black;
	cursor: default;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}

.message {
	color: #ff7d4b;
	text-align: center;
	font-weight: 600;
	margin-top: 15px;
	/* display: none; */
}

@media screen and (max-width: 600px) {
	.LoginPane {
		height: auto;
	}
}

@media only screen and (min-width: 768px) {
	.LoginPane {
		min-width: 280px;
		width: 28vw;
		padding-left: 1vw;
		padding-top: 2vh;
	}

	.LogoBanner {
		flex-direction: row;
		padding-left: 1vw;
		padding-bottom: 0;
		margin-top: 4vh;
		height: 17vh;
	}

	.LogoContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		height: 17vh;
	}

	.Logo {
		max-width: 100%;
		max-height: 100%;
	}

	.LogoName {
		margin-left: 1vw;
		margin-right: 1.5vw;
		align-self: center;
		color: black;
		font-size: 4vw;
		font-family: "Architects Daughter", cursive;
	}

	@media only screen and (max-width: 1120px) {
		.LoginPane {
			width: auto;
			height: 100vh;
		}

		.LogoBanner {
			margin-top: 20px;
			height: 25vh;
			flex-direction: column;
		}

		.LogoContainer {
			height: 15vh;
		}

		.LogoName {
			font-size: 40px;
		}

		.Itemlist {
			margin-top: 30px;
		}
	}
}