.mainContainer{
  display: flex;
}
.navprod{
    display: block;
    margin-left: 4%;
    margin-top: 200px;
    z-index: 0;
    padding: 18px;

  float: left;
}
.navassis{
    display: block;
    margin-left: 4%;
    margin-top: 200px;
    z-index: 1;
    padding: 18px;

  float: left;
}
.nav{
    background-color: rgb(24, 156, 238);
    max-width: 10vh;
    height: 100vh;
    max-height:100vh;
}
.header{
  display: flex;
  align-items: center;
  margin: 40px;
  margin-bottom: 0px;
}
.heading{
  margin-right: 10px;
  font-size: 45px;
  font-weight: 900;
  color:  rgb(24, 156, 238);
}
.headingInactive{
  margin-right: 10px;
  font-size: 45px;
  /* font-weight: 900; */
  color:  rgb(24, 156, 238);
  opacity: 0.50;
}
.subHeading{
  font-size: 45px;
  color:  rgb(24, 156, 238);
}
.cartButton:focus{
  outline:none;
}
.cartButton:active{
  background-color: rgb(17, 121, 201);
}
.cartButton{
  margin-left: auto;
  height: 80px;
  width: 200px;
  color: white;
  background-color: rgb(24, 156, 238);
  border: none;
  border-radius: 25px;
  font-size: 30px;
}
.cartButton:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.11);
}
.cartIcon{
  margin-right: 10px;
  padding-top: 5px;
}
